#pic{
    display: none;
}
#myCanvas{
    margin: 0 auto;
    border: 1px solid #ddd;
}
.mainContent{
    text-align: center;
}

.btn{
    background-image: linear-gradient(90deg,#ff0000 0%,#9b1736 100%);
    cursor: pointer;
    text-align: center;
    padding: 5px 10px;
    color: #fff;
    font-size: 14px;
    border: none;
}